<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industrialization </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "top">
        <div class="box">
            <div class = "item2">
                <h3><a href="#">The Age of Industry</a></h3>
            </div>
            <div class = "item" >
                <h2><a href="#origin">Origin</a></h2>
            </div>
            <div class = "item" >
                <h2><a href="#dev">Developments</a></h2>
            </div>
            <div class = "item" >
                <h2><a href="#life">Lifestyle</a></h2>
            </div>
            <div class = "item">
                <h2><a href="#brit">Britain</a></h2>
            </div>
            <div class = "item" >
                <h2><a href="#econ">Economic Systems</a></h2>
            </div>
        </div>
    </div>
    <div class = "header"  id = "#">
        <h1>Industrialization<span>.</span></h1>
    </div>
    <div id = "origin">
        <br>
        <h4>Origin</h4>
    </div>
    <div id = "life">
        <br>
        <h4>Lifestyle</h4>
    </div>
    <div id = "dev">
        <br>
        <h4>Developments</h4>
    </div>
    <div id = "brit">
        <br>
        <br>
        <div class = "pop" style="background-image: url('BritainPhoto.jpg');">
            <div class = "forPhot">
                <h4>Britain</h4>
            </div>
        </div>
    </div>
    <div id = "econ">
        <br>
        <h4>Economic Systems</h4>
    </div>
</body>
</html>
