body{
    font-family: sans-serif;
    background-color: white;
    color:#03396c;
}
html{
    scroll-behavior: smooth;
}
a{
    padding: 2vw;
    text-decoration: none;
    color: inherit; 
}
span{
    font-family: serif;
    color: black;
}
.title{
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 5vw;
    font-size: 8vh;
    color:#14527d;
    text-shadow: 0.25vh 0.5vh 2vh #b4ddfa;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #e3efff;
}

.sub-footer{
    display: flex;
    border-radius: 1vw;
    padding: 1vh 2vh 2vh 5vh;
    font-family: sans-serif;
    font-size: 10vh;
    color: #083a78;
    height: 10vh;
    background-color: #b2bef7;
    box-shadow: 0.5vw 0.5vw 2vw  #3d51b3;

}

.mega-footer{
    display: flex;
    background-color: white;
    padding-left: 3vw;
}
.mega-footer h2{
    font-size: 1vw;
}

.footer h6{
    font-size: 5vh;
}
.citation{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;
}

.citation-item{
    background-color: white;
    border-radius: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vw;
    box-shadow: 0.5vw 0.5vw 2vw  #bfddf2;
}

.citation-item h2{
    font-size: 1.2vw;
    color: black;
}

.top{
    display: flex;
    justify-content: center;
}
.header{
    padding-top: 15vw;
    display: flex;
    background: #e3efff;
    justify-content: center;
    padding-bottom: 20vw;
}
.pop{
    padding: 0vw 0vw 0vw 0vw;
    background-repeat: no-repeat;
    background-size: 100% 75%;
    width: 100vw;
    height: 100vh;
}


.item2{
    display:flex;
    justify-content: center;
}

.box{
    background-color:#f0f4fa;
    display: flex;
    border-radius: 2vw;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0.5vw 0.5vw 2vw  gray;
    
}

.forPhot{
    padding-top: 10vh;
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 100vw;
    height: 65vh;
}

#life .forPhot{
    padding-top: 10vh;
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
    width: 100vw;
    height: 65vh;
}
.forPhot h4{
    color: white;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.item h2:hover{
    color:#2971cc;
    border-radius: 2vw;
    transform: scale(1.05);
}


.item h2 a {
    transition: all 0.2s ease-in-out;
}
#life{
    margin-bottom: 55vw;
}
#dev{
    margin-bottom: 55vw;
}
#origin{
    margin-bottom: 20vw;
}
#brit{
    margin-bottom: 20vw;
}
#econ{
    margin-bottom: 20vw;
}
.subheader h5{
    font-size: 2vw;
}

.text-container{
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-left: 6vw;
}

.text{
    box-shadow: 0.5vw 0.5vw 2vw  gray;
    border-radius: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 3vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
}


#econ{
    padding-top: 6vw;
    margin-bottom: 90vw;
}

#econ b{
    color: black;
}

#dev{
    margin-top: 20vw;
}

h1{
    font-size: 7vw;
    color: #335c8f;
}

h2{
    font-size: 2vw;
    color: #809aba;
}

h3{
    font-size: 2vw;
    color: #1b3c70;
}

h4{
    font-size: 11vh;
}
