body{
    font-family: -apple-system;
    background-color: white;
    color:#03396c;
    /* padding-left: 2vw; */
}
html{
    scroll-behavior: smooth;
}
a{
    padding: 2vw;
    text-decoration: none;
    color: inherit; 
}
span{
    color: black;
}

.top{
    padding-left: 2vw;
}
.header{
    padding-top: 15vw;
    display: flex;
    background: #e3efff;
    justify-content: center;
    padding-bottom: 12vw;
}

.item2{
    display:flex;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
}

.box{
    padding-left: 1vw;
    padding-right: 1vw;
    background-color:#f0f4fa;
    display: flex;
    border-radius: 2vw;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0.5vw 0.5vw 2vw  gray;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
.item:hover{
    color: #5f9aed;
    border-radius: 2vw;
    transform: scale(1.05);
}
h1{
    font-size: 7vw;
    color: #335c8f;
}
h2{
    font-size: 2.5vw;
    color: #809aba;
}

h3{
    font-size: 2.5vw;
    color: #1b3c70;
}

h4{
    font-size: 6vw;
    color: #154a8c;
    padding-bottom: 40vw;
}
