body{
    font-family: -apple-system;
    background-color: #FDF6F6;
    color:#D0E1F9;
}
html{
    scroll-behavior: smooth;
}
a{
    padding: 2vw;
    text-decoration: none;
    color: inherit;
}

.header{
    padding-top: 15vw;
    display: flex;
    justify-content: center;
    padding-bottom: 12vw;
}

.item2{
    display:flex;
    width:100%;
    justify-content: center;
    

}
.text{
    display: block;
   }
.box{
    background-color:white;
    display: flex;
    border-radius: 1vw;
    position: fixed;
    width: 100%;
    padding-right: 4vw;
    flex-direction: row;
    justify-content: flex-end;
}

.item{
    padding-left: 3vw;
    padding-right: 2vw;
    text-align: center;
}
.item:hover{
    background-color: #FDF3F3;
    border-radius: 1vw;
    transform: scale(0.9);
}
h1{
    font-size: 7vw;
    color:#F58D8D;
}
h2{
    font-size: 2.5vw;
    color: #AF1281;
}
h3{
    font-size: 2.5vw;
    background: linear-gradient(to right,#6B0772, #AF1281, #CF268A, #E65C9c, #fb8cab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4{
    font-size: 6vw;
    color: #6B0772;
    padding-bottom: 40vw;
}